@import "tailwindcss";

html,
body {
  background: linear-gradient(90deg, #22d3ee 0%, #f472b6 100%);
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

main {
  padding-top: 150px;
}

a {
  font-weight: 500;
  color: #22d3ee;
  text-decoration: inherit;
}

a:hover {
  color: #f472b6;
}

@keyframes rollIn {
  0% {
    transform: translateX(-200%) rotate(-720deg);
    opacity: 0;
  }
  60% {
    transform: translateX(20%) rotate(30deg);
    opacity: 1;
  }
  100% {
    transform: translateX(0) rotate(0deg);
  }
}

@keyframes slidein {
  0% {
    transform: translateX(-200%);
    opacity: 0;
  }
  60% {
    transform: translateX(20%);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
